* {
    color: white;
}

a{
    text-decoration: none;
}

a:hover, a:active {
    color: #9A9A9A;
}

body {
    background-color: black;
    background-image: url(Assets/Body.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    margin: 0;
    
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #F5F5F5;
    background-image: url(Assets/Back_Footer.png);

    
    height: 36vh;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    
    
    background-color: #22323C;
    
    padding: 10px;

    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo{
    margin-left: 5%;
}

#tela_inicial{
    display: flex;
    align-items: flex-end;

    width: 100vh;
    height: 85vh;
}

#subtitulo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 7vh;

    padding: 5px 5px 5px 100px;
}

#logo_rodape{
    margin-left: 20vh;
    margin-top: 5vh;
}

#informacoes_adicionais{
    margin-top: 8vh;
}

#contatos{
    margin-right: 20vh;
}

#navegacao{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 5%;
}
