* {
    color: white;
}

a{
    text-decoration: none;
}

a:hover, a:active {
    color: #9A9A9A;
}

body {
    background-color: black;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    margin: 0;
    background-color: #F5F5F5;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    background-image: url(Assets/Back_Footer.png);
    
    height: 36vh;
    margin-top: -100px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    position: sticky;
    top: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    
    background-color: #22323C;
    
    padding: 10px;

    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Rubik one';

}

#logo{
    margin-left: 5%;
}

#tela_inicial{
    display: flex;
    align-items: flex-end;
    background-image: url(Assets/Body.png);
    width: 100%;
    height: 85vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

#subtitulo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 7vh;

    padding: 5px 5px 5px 100px;
}

#logo_rodape{
    margin-left: 20vh;
    margin-top: 5vh;
}

#informacoes_adicionais{
    margin-top: 8vh;
}

#contatos{
    margin-right: 20vh;
}

#navegacao{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 5%;
}

#sobreevento{
    display: flex;
    flex-direction: row;
}

.informacoes-evento{
    display: flex;
    margin-left: 3vw;
    margin-top: 10vh;
    flex-direction: column;
    max-width: 50vw;
}

.sub-titulo h1{
    font-family: 'Rubik One', sans-serif;
    color: #17D492;
    font-weight: normal;
    font-size: 44px;
    margin-bottom: 10px;
    padding-bottom: 5%;
}

#sub-titulo-tech::after{
    content: "";
    display: block;
    width: 10rem;
    height: 4px;
    background-color: #9A9A9A;
    margin-top: 4px;
    border-radius: 10px;
}

#sub-titulo-info::after{
    content: "";
    display: block;
    width: 14rem;
    height: 4px;
    background-color: #9A9A9A;
    margin-top: 4px;
    border-radius: 10px;
}

.sub-info {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 30px;
    white-space: normal;
}

.predio{
    background-image: url('Assets/predio.png');
    background-repeat: no-repeat;
    background-position: flex-start;
    background-size:cover;
    width: 50vw;
    height: 80vh;
}

#container-incricoes{
    display: flex;

}

#img-inscricoes{
    display: flex;

    width: 50%;
    justify-content: center;
    align-items: center;
}

#img-inscricoes img{
    width: 100%;
}

#inscricoes{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    width: 50%;
}

#enviar-button{
    display: flex;
    align-items: center;
}

#enviar-button button{
    border: none;
    background-color: #17D492;
    padding: 0.8rem 4rem;
    margin-right: 4vh;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 6px black;
}

#enviar-button button::after{
    background-color: #13B57D;
}

#enviar-button button span{
    font-weight: bolder;
    font-size: 20px;
    color: white;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input{
    width: 250px;
    height: 25px;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
}

.input-box input:hover{
    background-color: grey;
}

.input-box input:focus-visible{
    outline: 1px solid #17D492;
}


.input-group{
    display: flex;
    flex: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

#primeira-linha h1{
    font-family: 'Rubik One', sans-serif;
    color: #17D492;
    font-weight: normal;
    font-size: 44px;
    margin-bottom: 10px;
    padding-bottom: 5%;
}

#primeira-linha h1::after{
    content: "";
    display: block;
    width: 10rem;
    height: 4px;
    background-color: #9A9A9A;
    margin-top: 4px;
    border-radius: 10px;
}

